body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.tanvir{
    color: orange;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding:10px ;
}
.half img {
    width: 100%;
}
.batton{
    text-decoration: none;
    padding: 10px 40px;
     background-image: linear-gradient(orange, tomato);
     color: white;
     font-weight: 700;
     border-radius: 5%
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}